# Environment variables
.env
.env*.local

# FastAPI-specific files
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Next.js-specific files
.next/
out/
node_modules/
.pnp/
.pnp.js
.yarn/install-state.gz

# Build and dependency directories
dist/
build/
*.egg-info/
*.egg/

# IDE and editor settings
.vscode/
.idea/
.project
.classpath
.settings/

# Logs and temporary files
*.log
*.tmp
*.temp
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Testing
/coverage

# Production
build

# Other configuration files
.pytest_cache/
.coverage
*.coverage
*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts